.image-box {
  width: 200px;
  margin: 0px;
  text-align: center;
  border: 3px solid #9e7ef8;
  border-radius: 10px;
  padding: 10px;
  background: #353535;
}

.image-box h3 {
  margin: 0;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.image-footer span#author {
  color: #9e7ef8
}

.image-footer span#upvotes {
  color: #f8cd7e
}