.image-box {
  width: 200px;
  margin: 20px;
  text-align: center;
}

.image-box h2, h3 {
  margin: 10px 0px;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.image-footer span#author {
  color: #9e7ef8
}

.image-footer span#upvotes {
  color: #f8cd7e
}