.image-box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

h2 {
    margin: 0;
}

/* For big screens */
@media screen and (min-width: 1100px) {
    .image-box-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* For medium-large screens */
@media screen and (max-width: 1099px) and (min-width: 800px) {
    .image-box-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For small screens */
@media screen and (max-width: 799px) {
    .image-box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}